<section>
  <form action="/answer" method="GET" data-turbo="false" class="col-6">
    <label for="question" class="form-label">Ask your coach a question!</label>
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="question" id="question" placeholder="Make a question" aria-label="Recipient's username" aria-describedby="submit"/>
      <div class="input-group-append">
        <input type="submit" class="btn btn-primary" class="btn btn-outline-secondary" id="submit" value="Ask"/>
    </div>
  </div>
  </form>
</section>
